/* ------------------------------------------------------------------/
/                                                                    /
/                              GENERAL
/                                                                    /
/-------------------------------------------------------------------*/
@font-face {
    font-family: TakeItOrLeaveIt;
    src: url("../fonts/takeitorleaveit.ttf") format("truetype");
}

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    font-family:'TakeItOrLeaveIt', serif;
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color: #372560;
    color: #f8eeb9;
    font-family:'TakeItOrLeaveIt', serif;
    font-size:24px;
    margin:0;
    padding:0;
    text-transform:uppercase;
    width: 100%;
    height: 100%;
}

/* Portrait layout (default) */
canvas {
    display:block;
    /* to remove scroll bars */
    background-color: #372560;
    /* background: url("../img/bg.jpg") repeat;*/
}

.centered{
    text-align: center;
}

.centered2{
    margin-left: auto;
    margin-right:auto;
}
/* ------------------------------------------------------------------/
/                                                                    /
/                              START PAGE
/                                                                    /
/-------------------------------------------------------------------*/

.start-title{
    margin-top: 50px;
}

#button-play-game{
    background-color:#ee125f;
}

#button-download-app{
    background-color: #2084c5;
}

#button-code{
    background-color: #faa619;
}

.index-pug{
    position: absolute;
   bottom: -50px;
    right: -80px;
}

#index-body{
    overflow: hidden;
}

#buttons-index a {
    text-decoration: none;
    color: #372560;
}

/* ------------------------------------------------------------------/
/                                                                    /
/                              LOADING
/                                                                    /
/-------------------------------------------------------------------*/

#loadingText {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 20%;
    right: 0;
    bottom: 0;
    left: 0;
    width: 70px;
    height: 50px;
}

/* ------------------------------------------------------------------/
/                                                                    /
/                              START SCREEN
/                                                                    /
/-------------------------------------------------------------------*/

.invisible {
    display: none;
}
.wrapper {
    position: relative;
    text-align: center;
}

.container {
    text-align: center;
    position: absolute;
    top: 194px;
    width: 100%;
}

.wrapper button {
    cursor: pointer;
    font-family: 'TakeItOrLeaveIt', serif;
    font-size: 32px;
    min-width:230px;
    width: 60%;
    height: 50px;
    border:0;
    padding-top: 3px;
    margin-bottom: 5%;
    border-radius: 10px;
    color: #372560;
}

.wrapper #button1{
    background-color:#ee125f;
}

.wrapper #button2{
    background-color: #2084c5;
}

.wrapper #button3{
    background-color: #faa619;
}

#gameover{
    position: absolute;
    width: 90%;
    background-color: #72c043;
    border-radius: 10px;
    color: #372560;
    padding: 0 0 0 0;
    overflow: scroll;
    z-index: 999999;
    height: 460px;

    /*to be adjusted in js*/
    top:0;
    left:0;
}

.pug-xs{
    width: 85px;
}

#retry{
    background-color: #faa619;
    border: 2px solid #ee125f;
    width: 230px;
}

#menu {
    background-color: #2084c5;
    border: 2px solid #ee125f;
    width: 230px;
}

#gameoverText{
    padding:0;
    margin: 0;
}
/* ------------------------------------------------------------------/
/                                                                    /
/                              POP-UPS
/                                                                    /
/-------------------------------------------------------------------*/
.credits {
    position: absolute;
    width: 80%;
    background-color: #72c043;
    border-radius: 10px;
    color: #372560;
    padding: 0 25px 0 25px;
    overflow: scroll;
    z-index: 999999;
    /*to be adjusted in js*/
    top:10px;
    left:10px;
    height: 480px;
}

.instructions {
    position: absolute;
    width: 80%;
    background-color: #72c043;
    border-radius: 10px;
    color: #372560;
    padding: 0 25px 0 25px;
    overflow: scroll;
    z-index: 999999;
    /*to be adjusted in js*/
    top:10px;
    left:10px;
    height: 480px;
}

.instructions p img {
    margin-bottom: 10px;
}

.noUppercase{
    text-transform: none;
}

.close-button{
    position: absolute;
    top:0;
    right:0;
    z-index: 999999999;
}



